<div class="p-3 mb-2 bg-primary text-white" style="width: 18rem;">
<h1 class="text-white" > Stupid Coaching</h1>

<form action="/answer" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
</div>
